.cardHighlight {
  min-height: 50%;
  background-color:  #dde7ed !important;

}
.aboutMe {
  background: deepskyblue;
}
h1 {
  font-weight: bolder !important;
}

.nav{
  font-weight: bold;
  font-size: inherit;
  background-color:#0b74b3;
}

.nav-link {
  font-size: inherit;
}

.courseUpdate{
  background-color:  #08759c;
  /* background-image: url(".././public/images/course.jpg");
  background-size: cover;
 */
}

/*#card{
  background-color: blue;
}*/

.banner{
  background-image: url(".././public/images/course4.jpg");
  background-size: cover;
 
}

.footer{
  background-color: #0b74b3 !important;
}

